.intro {
    margin-top: 150px;
    margin-bottom: 50px;
}

.intro h1 {
    color: var(--text-color);
    margin: 10px;
    text-align: center;
      
}

.intro p {
    color: var(--text-color);
    margin: 10px;
    text-align: center;

      
}

@media only screen and (max-width: 375px) {
.intro h1 {
    font-size: 25px;
}
}

